@import "root";

.home{
    height: 600px;
    padding-top: 50px;
    background-image: url('../image/plante.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hame{
    height: 600px;
    padding-top: 50px;
    background-image: url('../image/mag.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.taille{
    size: 50%;
}

.c1{
    height: 600px;
    padding-top: 50px;
    background-image: url('../image/fleur.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
.c2{
    height: 100px;
    padding-top: 50px;
    background-image: url('../image/amandier.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
.nav{
    height: 100px;
    padding-top: 50px;
    background-image: url('../image/grasse.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
